	#guide li{
		font-size:23px;
		color:white;
		display:block;
		float:left;
		margin-right:40px;
	}
	#guide a{
		color:white;
	}
	#guide a:hover,#guide li:hover{
		color:#fff100;
		cursor: pointer;
	}
	#position{
		width: 50px;height: 20px;border-radius: 3px;background: #e60012;
		position: relative;top: -20px;left: 75px;
	}
	#position span:hover{
		cursor: pointer;
		color: green;
	}
	#cartCount{
		background: #e60012;
		border-radius: 50px;width: 22px;
		height: 22px;border: none;
		text-align: center;
		position: relative;top: -38px;left: 67px;
		font-size: 17px;
		line-height: 23px;
	}
	
		#div_main{
			width:240px;
			height: 590px;
			border-radius: 10px;
			/* float:left */
			float: left;
			margin-left: 50px;
		}
		#div_main div:hover{
			cursor: pointer;	
		}
		#div_top{
			width: 200px;
			height: 100px;
			margin-top:10px;
			margin-left: 16px;
		}
		#div_bottom{
			width: 200px;
			height: 465px;
			margin-top:5px;
			margin-left: 16px;
		}
		#rightCenter{
			width: 1000px;height: 600px;
			float: left;
			margin-left: 1px;
		}